<section id="header" class="content-header">
  <h1> {{ trans(template.cp.sections.active.name ?: template.addons.modules.active().name) }} <small>{{ trans(template.cp.sections.active.description ?: template.addons.modules.active().description) }}</small> </h1>
  {% include "theme::partials/breadcrumbs" %}
</section>
