<div class="modal fade remote" id="modal-small">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal remote" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal remote" id="modal-large">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal remote" id="modal-wide">
    <div class="modal-dialog modal-wide">
        <div class="modal-content">
            <div class="modal-loading">
                <div class="active loader"></div>
            </div>
        </div>
    </div>
</div>
